<!DOCTYPE html>

<html lang="en" class="<%= theme %>">
    <!-- BEGIN: Head -->
    <head>
        <meta charset="utf-8" />
        <link href="/images/logo.svg" rel="shortcut icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="<%= page.description ?? 'No description'%>" />
        <meta name="keywords" content="<%= page.keywords ?? 'No keywords'%>" />
        <meta name="author" content="LEFT4CODE" />
        <title><%= page.title ?? 'No title'%></title>
        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/scss/custom.css" />
        <!-- END: CSS Assets-->
    </head>
    <!-- END: Head -->
    <body class="<%= typeof method !== 'undefined' ? method : '' %>">
        <%- include(main); %>

        <!-- BEGIN: Dark Mode Switcher-->
        <div
            data-url="login-dark-login.html"
            class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 right-0 box border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10"
        >
            <div class="mr-4 text-slate-600 dark:text-slate-200">Dark Mode</div>
            <div
                class="dark-mode-switcher__toggle border <%= theme === 'dark' ? 'dark-mode-switcher__toggle--active' : '' %>"
            ></div>
        </div>
        <!-- END: Dark Mode Switcher-->

        <div id="toast"></div>

        <!-- BEGIN: JS Assets-->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
            integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>

        <!-- scrollbar -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.5/simplebar.min.js"
            integrity="sha512-HV1U44HR4mYVDcsxzJpghYyGEy2PvbePe9UFXlV3vnzf4yFhbKA9QNpnhy4VWwnaC2jKzijITVWHPZBCOuc51g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>

        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <!-- pack icon -->
        <script src="https://unpkg.com/lucide@latest"></script>
        <script src="/js/main.js"></script>
        <!-- END: JS Assets-->
    </body>
</html>
